<a href="https://colab.research.google.com/github/TaeKyung-Lim/teddy-drive/blob/main/%EC%9E%84%ED%83%9C%EA%B2%BD_10%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
result1 = 0
result2 = 0

def adder1(num) :
  global result1
  result1 += num

def adder2(num) :
  global result2
  result2 += num
  return result2

print(adder1(3))
print(adder1(4))
print(adder2(3))
print(adder2(7))

None
None
3
10

In [5]:
class Calculator:
  def __init__(self):
      self.result = 0

  def adder(self, num):
      self.result += num
      return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.adder(3))
print(cal1.adder(4))
print(cal2.adder(3))
print(cal2.adder(7))

3
7
3
10

In [11]:
class service:
    secret = "지구는 4006년 에 멸망한다."
    def setname(self, name):
        self.name = name
    def sum(self, a, b):
        result = a+b
        print("%s님, %s + %s = %s입니다." % (self.name, a, b, result))
an = service()
an.setname("박 달 도 사")
an.sum(1,1)

박 달 도 사님, 1 + 1 = 2입니다.

In [21]:
kim = service()
park = service()
kim.name = "김정보"
park.name = "박융합"
print(kim.name)
print(park.name)

kim.secret = "비밀은 없다"
print(park.secret)

print(kim.secret)

service.secret

김정보
박융합
지구는 4006년 에 멸망한다.
비밀은 없다

'지구는 4006년 에 멸망한다.'

In [29]:
class service:
    secret = "지구는 4006년 에 멸망한다"
    def __init__(self, name):
        self.name = name
    def sum(self, a, b):
        result = a+b
        print("%s님, %s+%s = %s입니다." %(self.name, a, b, result))
        
an = service("박달도사")
an.sum(1, 1)

박달도사님, 1+1 = 2입니다.

In [72]:
from ast import RShift
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result




a = FourCal()
a.setdata(4,2)
b.setdata(3,7)


print(a.sum())
print(a.mul())
print(a.sub())
print(a.div())

6
8
2
2.0